* {
  text-decoration: none;
}
span {
  font-weight: bold;
}
#form {
  margin-top: 1em;
}
#contactForm {
  margin: auto;
  @media (max-width: 980px) {
    width: 90%;
  }
}
.col {
  margin: 13em;
}
.contact {
  margin: auto;
  @media (max-width: 980px) {
    width: 80%;
  }
}
#icon {
  margin: auto;
  @media (max-width: 980px) {
    margin-top: 6em;
  }
}
#map {
  @media (max-width: 980px) {
    margin-left: 6em;
  }
}
#contactForm {
  width: 100%;
  padding: 3em;
  background-color: #f3f3f3;
}
