<div class="container">
  <div class="row py-5">
    <div class="contact col-12 col-md-12 col-lg-6 mb-5">
      <h2>BİZİMLE İLETİŞİME GEÇİN</h2>
      <hr />
      <div class="row">
        <div class="col-6">
          <h4>Merkez Ofis</h4>
          <a
            href="https://www.google.com/maps/dir/41.1546425,29.0069525/Veko+Giz+Plaza+Ayaza%C4%9Fa+Maslak+Meydan+Sk.+No:3+34396+%C5%9Ei%C5%9Fli%2F%C4%B0stanbul/@41.0495105,27.3719799,8.33z/data=!4m8!4m7!1m0!1m5!1m1!1s0x14cab5c1bba54fb1:0x93af3c222629fa40!2m2!1d29.0216702!2d41.1097262"
            >Veko Giz Plaza. No:20/45
          </a>
          <p>Maslak / İstanbul</p>
          <hr />
        </div>

        <div class="col-6">
          <h4>Ar-Ge Ofis</h4>
          <p>
            KSÜ Avşar Kampüsü Teknokent Binası 48-49 Onikişubat / Kahramanmaraş
          </p>
        </div>
        <div class="col-12">
          <p>
            <span>E-Posta : </span>
            <a href="mailto:info@vidamms.com">info@vidamms.com</a>
          </p>
          <p></p>
          <span>Telefon : </span>
          <a href="tel:08503052181">(+90) 850 305 21 81</a>
        </div>
        <div class="col-12 mt-4">
          <h4>İLETİŞİM</h4>
          <hr />
          <p>
            Şirketinize nasıl yardımcı olabileceğimiz hakkında sorularınız mı
            var? Bize bir e-posta gönderin, kısa süre içinde sizinle iletişime
            geçeceğiz.
          </p>
        </div>
      </div>
    </div>
    <div id="map" class="col-12 col-md-9 col-lg-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6012.27152261813!2d29.02167!3d41.109726!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab5c1bba54fb1%3A0x93af3c222629fa40!2sVeko%20Giz%20Plaza!5e0!3m2!1str!2str!4v1686220699218!5m2!1str!2str"
        width="450"
        height="450"
        style="border: 0"
        allowfullscreen=""
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
<div>
  <div id="contactForm" class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div>
        <h3 class="card-title text-center py-4">İLETİŞİM FORMU</h3>
        <hr />
      </div>
      <form id="form">
        <div class="row">
          <div class="col-6 col-md-6 col-lg-6">
            <label class="form-label">İsim</label>
            <div class="form-outline" style="width: 100%">
              <input type="text" class="form-control" />
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-6">
            <label class="form-label">Soyad</label>
            <div class="form-outline" style="width: 100%">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-6">
            <label class="form-label">Telefon</label>
            <div class="form-outline" style="width: 100%">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-6">
            <label class="form-label">E-Posta</label>
            <div class="form-outline" style="width: 100%">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-12">
            <label class="form-label">Mesaj</label>
            <div class="form-outline" style="width: 100%">
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
          </div>
          <div class="form-outline mt-4 mb-2" style="width: 50%">
            <button type="button" class="btn btn-outline-primary">
              BİLGİLERİ GÖNDER
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
