* {
  text-decoration: none;
}
span {
  font-weight: bold;
}
#form {
  margin-top: 1em;
}

.contact {
  margin: auto;
  @media (max-width: 980px) {
    width: 80%;
  }
}
#icon {
  margin: auto;
  @media (max-width: 980px) {
    margin-top: 6em;
  }
}

#contactForm {
  padding: 3em;
  background-color: #f3f3f3;
}
