footer {
  height: 100%;
  background-color: #212529;
  padding-top: 3em !important;
  bottom: 0;
  left: 0;
  right: 0;
}
img {
  width: 100%;
  height: auto;
  margin: 1.2em;
}
#image {
  padding-left: 2em;
  margin-top: 1.5em;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: white !important;
}

ul {
  list-style-type: none;
}

svg {
  cursor: pointer;
  margin-top: 0.8;
  margin-right: 0.6em;
  margin-bottom: 0.8em;
  transition: 0.3s;
}

p {
  font-weight: bold;
  font-size: 20px;
  color: white;
}
span {
  transition: 0.3s;
}
div a:hover {
  color: #808080 !important;
}
#bot {
  background-color: black;
  padding: 1em;
  margin-left: 0 !important;
}
@media (max-width: 600px) {
  img {
    width: 90% !important;
    height: auto;
    margin-right: 10%;
    margin-bottom: 3em;
  }
  p {
    font-size: 18px;
    margin-bottom: 1em;
  }
}
@media (min-width: 400px) {
  img {
    width: 80% !important;
    height: auto;
    margin-right: 10%;
    margin-bottom: 3em;
  }
}
@media (max-width: 980px) {
  #contact {
    text-align: center;
    padding: 2em !important;
  }
  #sub {
    text-align: center;
    padding: 2em !important;
  }
  #middle {
    text-align: center;
    padding: 2em !important;
  }
}
#tags a {
  margin-right: 2em;
}
