#aboutTop {
  font-size: 1.1em;
  height: 100%;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
@media (max-width: 600px) {
  #aboutTop {
    padding: 1em !important;
  }
}
@media (max-width: 600px) {
  #aboutBot {
    padding: 1em !important;
  }
}
p {
  color: #212529;
}

#aboutBot {
  .img2 img {
    margin-right: 50em !important;
  }
}
#text {
  span {
    font-weight: bold;
    color: #212529;
  }
}
#sub {
  margin: auto;

  padding: 2em;
  color: white;
  margin-top: 5.5em;
  a {
    color: white;
  }
  span {
    font-weight: lighter;
    color: white;
  }
}
