<div id="sub" style="background-color: #1a49b3" class="row text-center">
  <div style="font-size: 2em" class="fw-bolder">
    {{ "ABOUTUS.TITLE" | translate }}
  </div>
  <span>
    <a routerLink="/">{{ "ABOUTUS.BOTTITLE" | translate }}</a>
    {{ "ABOUTUS.BOTTITLE2" | translate }}
  </span>
</div>

<div id="aboutTop" style="padding: 4em">
  <div id="text" class="row">
    <div class="col-lg-5 col-md-12">
      <p class="text-center mb-4 fw-bolder" style="font-size: 2em">
        {{ "ABOUTUS.TITLE" | translate }}
      </p>
      <p>
        {{ "ABOUTUS.TEXT1" | translate }}
      </p>
      <p>
        {{ "ABOUTUS.TEXT2" | translate }}
      </p>
      <p>
        {{ "ABOUTUS.TEXT3" | translate }}
      </p>
      <p>
        {{ "ABOUTUS.TEXT4" | translate }}
      </p>

      <p>
        {{ "ABOUTUS.TEXT5" | translate }}
      </p>

      <p>
        {{ "ABOUTUS.TEXT6" | translate }}
      </p>
    </div>
    <div
      data-aos="zoom-in-left"
      data-aos-duration="1000"
      class="col-lg-7 col-md-12 col-12"
    >
      <img
        style="width: 100%; margin-top: 5em"
        src="assets/uploads/cost1.webp"
        alt=""
      />
    </div>
  </div>
</div>
<hr />
<div id="aboutBot" style="padding: 4em">
  <div class="row">
    <div
      data-aos="zoom-in-right"
      data-aos-duration="1000"
      class="col-lg-7 col-md-12 col-12"
    >
      <img
        class="img2"
        style="width: 100%"
        src="assets/uploads/cost2.webp"
        alt=""
      />
    </div>
    <div id="text2" class="col-12 col-md-12 col-lg-5">
      <p class="text-center mb-4 fw-bolder" style="font-size: 2em">
        {{ "ABOUTUS.2TITLE" | translate }}
      </p>
      <p>
        {{ "ABOUTUS.TEXT7" | translate }}
      </p>
      <p>
        {{ "ABOUTUS.TEXT8" | translate }}
      </p>
      <p>
        {{ "ABOUTUS.TEXT9" | translate }}
      </p>
    </div>
  </div>
</div>
