<div id="aboutTop">
  <div class="row py-5">
    <div class="col-lg-6 col-md-12">
      <h2 class="text-center mb-4">HAKKIMIZDA</h2>

      <p>
        Hey Teknoloji, Türkiye Cumhuriyeti Sanayi ve Teknoloji Bakanlığından
        aldığı Araştırma ve Geliştirme Desteğiyle her geçen gün büyüyen
        <span>yüzde yüz yerli</span> bir teknoloji şirketidir.
      </p>
      <p>
        2011 yılından beri kamu sektörüne ve özel sektöre hizmet eden 100’ün
        üzerinde projeyi
        <span>başarıyla</span> tamamlamıştır.
      </p>
      <p>
        Yürüttüğü
        <span>terzi işi</span> ve <span>anahtar teslim</span> projelerle, uzun
        soluklu iş ortaklıkları ve müşteri memnuniyeti tesis etmiştir.
      </p>
      <p>
        Hem yenilikçi hem
        <span>yediden yetmişe herkesin kolayca uyum sağlayabileceği</span>
        teknolojik çözümler üretmesi Hey Teknoloji’yi rakiplerinden ayıran en
        temel özelliklerindendir.
      </p>

      <p>
        Çalışanları, iş ortakları ve müşterileri sayesinde kendini her geçen gün
        geliştirir. Temas ettiği her kurumun
        <span>teknoloji çağına</span> geçmesini kontrollü bir şekilde
        hızlandırır. Birbirinden farklı sektörlere hizmet sağlaması sonucu her
        duruma uyum sağlamak zorundadır. Bu zorunluluk Hey Teknoloji’yi genç
        tutar ve geliştirir.
      </p>

      <p>
        Teslim ettiği projelerin müşteriye en yüksek kazanç ve verim
        sağlayabilmesi için her aşamasında müşterinin yanındadır. Hey Teknoloji
        sadece hizmet alınan bir teknoloji şirketi değil,
        <span>verim artıran bir iş ortağıdır.</span>
      </p>
    </div>
    <div
      data-aos="zoom-in-left"
      data-aos-duration="1000"
      class="col-lg-6 col-md-12 col-12"
    >
      <img
        style="width: 100%; margin-top: 5em"
        src="../../../assets/uploads/cost1.png"
        alt=""
      />
    </div>
  </div>
</div>
<hr />
<div id="aboutBot" class="py-5">
  <div class="row">
    <div
      data-aos="zoom-in-right"
      data-aos-duration="1000"
      class="col-lg-6 col-md-12 col-12"
    >
      <img style="width: 100%" src="../../../assets/uploads/cost2.png" alt="" />
    </div>
    <div id="text2" class="col-12 col-md-12 col-lg-6">
      <h2 class="text-center">Birlikte Büyüyoruz</h2>
      <p>
        Hey Teknoloji olarak müşterilerimizin ve iş ortaklarımızın büyümesini
        sağlarken <span>kendimiz de büyüyoruz</span>. Hey Teknoloji, tecrübenin
        bilginin ve yanındakini anlamanın gücüne inanır. Her geçen gün gelişen
        altyapısı sayesinde kalitesini <span> çağının ilerisinde</span> tutar.
      </p>
      <p>
        İş dünyasının ihtiyaçlarını yakından takip etmeyi ve kendini yenilemeyi
        ilke edinmiştir. Teslim ettiği projelerle iş ortaklarının gününü
        kurtarmasının yanında <span>yarınını</span> da tasarladığının
        farkındadır. Bu sorumluluk ve bilinçle müşterilerinin ve iş ortaklarının
        yeni ihtiyaçlarını <span>her daim </span> sorgular. Müşterilerinin ve iş
        ortaklarının teknolojik çağa geçmesini hızlandırmak için akıllı
        cihazlardan (telefon, tablet vb.) ve diğer teknolojik ortamlardan
        senkron bir şekilde çalışan çözümler geliştirir.
      </p>
      <p>
        İşlerini
        <span>ofis dışındayken</span> de takip edebilme ve yönetebilme imkanları
        sunar. Müşterimin müşterisi benim müşterimdir ilkesiyle hizmet veren Hey
        Teknoloji, gücünü sahip olduğu bu hassasiyetlerden alır.
      </p>
    </div>
  </div>
</div>
