#about-bg {
  margin: auto;
  font-size: 1.1em;
  padding: 4em;

  height: 100%;
}
p {
  color: #212529;
}
span {
  font-weight: bold;
  color: #212529;
}
h1 {
  color: #212529;
  font-weight: bold;
}

//ANIMASYON

#box {
  margin: auto;
  width: 150px;
  height: 150px;
  border: 10px solid #212529;
  border-radius: 50%;
  border-top: 10px solid #1a44a8;
  @media (max-width: 980px) {
    margin: auto;
    margin-top: 4em;
  }
  animation: circleAnimation 1000ms infinite linear;
}
@keyframes circleAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#box2 {
  margin: auto;
  width: 150px;
  height: 150px;
  border: 10px solid #212529;
  border-radius: 50%;
  border-top: 10px solid #1a44a8;
  @media (max-width: 980px) {
    margin: auto;
    margin-top: 3em;
    margin-bottom: 4em;
  }
  animation: circleAnimation 1000ms infinite linear;
}
@keyframes circleAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.middle {
  padding: 1em;
  h1 {
    background: linear-gradient(#1a44a8, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  background-color: #f3f3f3;
  img {
    margin-top: 2em;
    margin-bottom: 2em;
    position: sticky;
    top: 30%;
  }
}
#text2 {
  padding: 3em;
}
#grown {
  padding: 1em;
  h1 {
    color: #212529;
    font-weight: bold;
    margin-bottom: 1em;
  }
}
