#aboutTop {
  margin: auto;
  font-size: 1.1em;
  padding: 4em;

  height: 100%;
}
p {
  color: #212529;
}
span {
  font-weight: bold;
  color: #212529;
}
h2 {
  padding: 1em;
  color: #212529;
  font-weight: bold;
}

#aboutBot {
  padding: 4em;
}
