<div id="policy" class="container">
  <div class="col-12 text-center">
    <h1 class="p-4">Kişisel Veri Politikamız</h1>
  </div>
  <div class="col-12">
    <h4>Kişisel Veriler Kanunu hakkında genel bilgilendirme</h4>
    <p>
      6698 Sayılı Kişisel Verilerin Korunması Kanunu (bundan sonra KVKK olarak
      anılacaktır) 24 Mart 2016 tarihinde kabul edilmiş, 7 Nisan 2016 tarihli
      29677 sayılı Resmi Gazete’de yayınlanmıştır. KVKK’nun bir kısmı yayın
      tarihinde, bir kısmı ise 7 Ekim 2016’da yürürlüğe girmiştir.
    </p>
    <h4>Veri sorumlusu sıfatıyla bilgilendirme</h4>
    <p>
      6698 sayılı KVKK uyarınca ve Veri Sorumlusu sıfatıyla, kişisel verileriniz
      bu sayfada açıklandığı çerçevede; kaydedilecek, saklanacak, güncellenecek,
      mevzuatın izin verdiği durumlarda 3. kişilere açıklanabilecek /
      devredilebilecek, sınıflandırılabilecek ve KVKK’da sayılan şekillerde
      işlenebilecektir.
    </p>
    <h4>Kişisel verilerinizin ne şekilde işlenebileceği</h4>
    <p>
      6698 sayılı KVKK uyarınca, Firmamız ile paylaştığınız kişisel verileriniz,
      tamamen veya kısmen, otomatik olarak, veyahut herhangi bir veri kayıt
      sisteminin parçası olmak kaydıyla otomatik olmayan yollarla elde edilerek,
      kaydedilerek, depolanarak, değiştirilerek, yeniden düzenlenerek, kısacası
      veriler üzerinde gerçekleştirilen her türlü işleme konu olarak
      tarafımızdan işlenebilecektir. KVKK kapsamında veriler üzerinde
      gerçekleştirilen her türlü işlem “kişisel verilerin işlenmesi” olarak
      kabul edilmektedir.
    </p>
    <h4>Kişisel verilerinizin işlenme amaçları ve hukuki sebepleri</h4>
    <span> Paylaştığınız kişisel veriler, </span>
    <li>
      Müşterilerimize verdiğimiz hizmetlerin gereklerini, sözleşmenin ve
      teknolojinin gereklerine uygun şekilde yapabilmek, sunulan ürün ve
      hizmetlerimizi geliştirebilmek için;
    </li>
    <li>
      6563 sayılı Elektronik Ticaretin Düzenlenmesi Hakkında Kanun, 6502 sayılı
      Tüketicinin Korunması Hakkında Kanun ile bu düzenlemelere dayanak
      yapılarak hazırlanan 26.08.2015 tarihli 29457 sayılı RG’de yayınlanan
      Elektronik Ticarette Hizmet Sağlayıcı ve Aracı Hizmet Sağlayıcılar
      Hakkında Yönetmelik, 27.11.2014 tarihli ve 29188 sayılı RG’de yayınlanan
      Mesafeli Sözleşmeler Yönetmeliği ve diğer ilgili mevzuat kapsamında işlem
      sahibinin bilgilerini tespit için kimlik, adres ve diğer gerekli bilgileri
      kaydetmek için;
    </li>
    <li>
      Bankacılık ve Elektronik Ödeme alanında zorunlu olan ödeme sistemleri,
      elektronik sözleşme veya kağıt ortamında işleme dayanak olacak tüm kayıt
      ve belgeleri düzenlemek; mevzuat gereği ve diğer otoritelerce öngörülen
      bilgi saklama, raporlama, bilgilendirme yükümlülüklerine uymak için;
    </li>
    <li>
      Kamu güvenliğine ilişkin hususlarda ve hukuki uyuşmazlıklarda, talep
      halinde ve mevzuat gereği savcılıklara, mahkemelere ve ilgili kamu
      görevlilerine bilgi verebilmek için;
    </li>
    <p>
      6698 sayılı KVKK ve ilgili ikincil düzenlemelere uygun olarak
      işlenecektir.
    </p>
    <h4>Kişisel verilerinizin toplanma şekli</h4>
    <span> Kişisel verileriniz, </span>
    <li>
      Firmamız internet sitesi ve mobil uygulamalarındaki formlar aracılığıyla
      ad, soyad, adres, telefon, iş veya özel e-posta adresi gibi bilgiler ile;
      kullanıcı adı ve şifresi kullanılarak giriş yapılan sayfalardaki
      tercihleri, gerçekleştirilen işlemlerin IP kayıtları, tarayıcı tarafından
      toplanan çerez verileri ile gezinme süre ve detaylarını içeren veriler,
      konum verileri şeklinde;
    </li>
    <li>
      Satış ve pazarlama departmanı çalışanlarımız, şubelerimiz,
      tedarikçilerimiz, diğer satış kanalları, kağıt üzerindeki formlar,
      kartvizitler, dijital pazarlama ve çağrı merkezi gibi kanallarımız
      aracılığıyla sözlü, yazılı veya elektronik ortamdan;
    </li>
    <li>
      Firmamız ile ticari ilişki kurmak, iş başvurusu yapmak, teklif vermek gibi
      amaçlarla, kartvizit, özgeçmiş (cv), teklif vermek ve sair yollarla
      kişisel verilerini paylaşan kişilerden alınan, fiziki veya sanal bir
      ortamda, yüz yüze ya da mesafeli, sözlü veya yazılı ya da elektronik
      ortamdan;
    </li>
    <li>
      Ayrıca farklı kanallardan dolaylı yoldan elde edilen, web sitesi, blog,
      anket, kampanya ve benzeri amaçlı kullanılan (mikro) web sitelerinden ve
      sosyal medyadan elde edilen veriler, e-bülten okuma veya tıklama
      hareketleri, kamuya açık veri tabanlarının sunduğu veriler, sosyal medya
      platformlarından paylaşıma açık profil ve verilerden;
    </li>
    <p>işlenebilmekte ve toplanabilmektedir.</p>
    <h4>KVKK yürürlüğe girmeden önce elde edilen kişisel verileriniz</h4>
    <p>
      KVKK’nun yürürlük tarihi olan 7 Nisan 2016 tarihinden önce, üyelik,
      elektronik ileti izni, ürün / hizmet satın alma ve diğer şekillerde hukuka
      uygun olarak elde edilmiş olan kişisel verileriniz de bu belgede
      düzenlenen şart ve koşullara uygun olarak işlenmekte ve muhafaza
      edilmektedir.
    </p>
    <h4>Kişisel verilerin saklanması ve korunması</h4>
    <p>
      Kişisel verileriniz, Firmamız nezdinde yer alan veri tabanında ve
      sistemlerde KVKK’nun 12. maddesi gereğince gizli olarak saklanacak; yasal
      zorunluluklar ve bu belgede belirtilen düzenlemeler haricinde hiçbir
      şekilde üçüncü kişilerle paylaşılmayacaktır. Firmamız, kişisel
      verilerinizin barındığı sistemleri ve veri tabanlarını, KVKK’nun 12.
      Maddesi gereği kişisel verilerin hukuka aykırı olarak işlenmesini
      önlemekle, yetkisiz kişilerin erişimlerini engellemekle, erişim yönetimi
      gibi yazılımsal tedbirleri ve fiziksel güvenlik önlemleri almakla
      mükelleftir. Kişisel verilerin yasal olmayan yollarla başkaları tarafından
      elde edilmesinin öğrenilmesi halinde durum derhal, yasal düzenlemeye uygun
      ve yazılı olarak Kişisel Verileri Koruma Kurulu’na bildirilecektir.
    </p>
    <h4>Kişisel verilerin güncel ve doğru tutulması</h4>
    <p>
      KVKK’nun 4. maddesi uyarınca Firmamızın kişisel verilerinizi doğru ve
      güncel olarak tutma yükümlülüğü bulunmaktadır. Bu kapsamda Firmamızın
      yürürlükteki mevzuattan doğan yükümlülüklerini yerine getirebilmesi için
      Müşterilerimizin doğru ve güncel verilerini paylaşması veya web sitesi /
      mobil uygulama üzerinden güncellemesi gerekmektedir.
    </p>
    <h4>6698 sayılı KVKK uyarınca kişisel veri sahibinin hakları</h4>
    <p>
      6698 sayılı KVKK 11.maddesi 07 Ekim 2016 tarihinde yürürlüğe girmiş olup
      ilgili madde gereğince, Kişisel Veri Sahibi’nin bu tarihten sonraki
      hakları aşağıdaki gibidir:
    </p>
    <span>
      Kişisel Veri Sahibi, Firmamıza (veri sorumlusu) başvurarak kendisiyle
      ilgili;
    </span>
    <li>Kişisel veri işlenip işlenmediğini öğrenme,</li>
    <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
    <li>
      Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp
      kullanılmadığını öğrenme,
    </li>
    <li>
      Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü
      kişileri bilme,
    </li>
    <li>
      Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların
      düzeltilmesini isteme,
    </li>
    <li>
      KVKK’nun 7. maddesinde öngörülen şartlar çerçevesinde kişisel verilerin
      silinmesini veya yok edilmesini isteme,
    </li>
    <li>
      Kişisel verilerin düzeltilmesi, silinmesi, yok edilmesi halinde bu
      işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere de
      bildirilmesini isteme,
    </li>
    <li>
      İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz
      edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına
      itiraz etme,
    </li>
    <li>
      Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması
      hâlinde zararın giderilmesini talep etme,
    </li>
    <p>haklarına sahiptir.</p>
    <p>
      <span> Merkezi </span>, Veko Giz Plaza, No: 24-45 Maslak / İstanbul,
      <span> Ar-Ge Ofisi </span>, KSÜ Avşar Kampüsü Teknokent Binası 48-49,
      Onikişubat / Kahramanmaraş adreslerinde bulunan
      <span> Hey Teknoloji </span> Yazılım, Danışmanlık, San. ve Tic. Ltd. Şti.,
      KVKK kapsamında Veri Sorumlusu’dur.
    </p>
    <p>
      Kişisel veri sahipleri, sorularını, görüşlerini veya taleplerini aşağıdaki
      iletişim kanallarından herhangi biriyle firmamıza ulaştırabilir:
    </p>
    <p>
      <span>E.posta:</span>
      <a href="mailto: info@heyteknoloji.com ">info@heyteknoloji.com</a>
    </p>
    <p>
      <span> Telefon: </span>
      <a href="tel: (+90) 850 305 2181 ">(+90) 850 305 2181</a>
    </p>
  </div>
</div>
