<div class="container p-5">
  <h3 class="fw-bolder">
    Kişisel Veriler Kanunu hakkında genel bilgilendirme.
  </h3>
  <p class="pt-3">
    Firmamız
    <span class="fw-bolder"> “BİLGİSAYAR PROGRAMLAMA FAALİYETLERİ” </span>
    alanında hizmet vermektedir. Firmamız gizlilik, bütünlük ve tüm fiziksel ve
    elektronik bilgi varlıklarını korumayı taahhüt etmektedir. Bilgi ve bilgi
    güvenliği gereksinimleri kurumsal hedeflerimiz ile aynı doğrultuda
    olacaktır. Firmamız yönetimi değişime açık, iyi eğitim almış, konusunda,
    konusunda yetkin personel istihdamı sağlayacak ve sektör içerisinde
    rakiplerimizle rekabeti sağlayacak finansmanı sağlamak, yeterli donanım ve
    altyapıyı bulunduracaktır. Bu yapı ve personel ile birlikte gerekli
    finansmanda sağlanacaktır. İş sürekliliği ve acil durum planları, veri
    yedekleme prosedürleri virüslerden ve bilgisayar korsanlarından sakınma,
    erişim kontrol sistemleri ve bilgi güvenliği ihlal bildirimi temel
    faaliyetlerimizin temel taşlarını oluşturacaktır. Yapılan risk
    değerlendirmeleri sonucunda elde edilen açıklıklar ve tehtidler bertaraf
    edilerek müşteri ve personelimizin bilgilerine güvenli erişim sağlanacaktır.
    Ayrıca risk değerlendirmeleri sonucunda amaçlarımızı belirleyip bu amaçlarım
    başarılması için gerekli olan kaynaklar ve şartlar sağlanacaktır. Bu
    politikayı gerçekleştirmek için başta çalışanlarımızın Bilgi Güvenliği
    Yönetim Sistemi şartlarını çalışma biçimi haline getirmelerini
    beklemekteyiz. Tüm personel ve belirli üçüncü tarafların Bilgi Güvenliği
    Yönetim Sistemi ile ilgili uygun eğitimleri alması sağlanacaktır. Bilgi
    güvenliği ile ilgili uygulanabilir şartlar ve bu şartların getirdiği
    fırsatlar ve gereklilikler yerine getirilecek ve bu şartlar sürekli
    iyileştirilecektir. Ayrıca firmamızın, personelimizin ve tüm ilgili
    tarafların bu sisteme adaptasyonu sağlanacaktır. Bilgi güvenliği politikamız
    yılda bir kez ya da firmamızla ilgili önemli değişikliklerin olması
    durumunda uygunluğunu, doğruluğunu ve etkinliğini sağlamak için yönetim ve
    birim sorumlularının katılımıyla gözden geçirilmekte ve güncelliği
    sağlanmaktadır.
  </p>
  <p class="fw-bolder text-center">Genel Müdür</p>
</div>
