<div class="part-1">
  <section class="video-container">
    <video
      src="../../../assets/uploads/Vida-1240x800-Video-Slider-Compress.mp4"
      autoplay
      loop
      playsinline
      muted
    ></video>
    <div class="describe">
      <h1 class="firstH1">Vida Bakım Yönetimi Uygulaması ile Arızalara Son</h1>
      <p>
        Makine parkurunuzun kesintisiz çalışmasını sağlamak için Vida
        Uygulamasını kullanın ve kurumunuzun bakım yönetimi kültürünü
        geliştirin.
      </p>
    </div>
  </section>
</div>
<div class="part-2">
  <div class="title">
    <h2>REFERANSLARIMIZ</h2>
  </div>
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="../../../assets/uploads/sliders/atlas.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/bonera.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/cabasan.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/dogus.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/gap.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/iskur.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/malatya.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/mallofist.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/rudolf.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/torunlar.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/turk.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/zorlu.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/atlas.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/bonera.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/cabasan.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/dogus.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/gap.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/iskur.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/malatya.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/mallofist.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/rudolf.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/torunlar.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/turk.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/zorlu.PNG" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="container py-5 part-3">
  <div class="content">
    <div id="vidaCard" class="card-body">
      <h2 class="card-title" id="title">VİDA</h2>
      <p class="card-text m-4">
        Vida, Bakım Yönetimi uygulamasıdır. Endüstriyel işletme yönetimine
        yardımcı olur. Arıza ve bakım kayıtları, envanter, sayaç, zimmet ve
        fabrika yönetimine ilişkin kayıtları tutmanızı sağlar. Böylece makine ve
        ekipmanlarınızı zaman/maliyet konusunda daha uzun ömürlü
        kullanabilirsiniz. Webden, tabletten ve mobilden uygulamaya kolayca
        erişebilirsiniz.
      </p>
    </div>
    <div class="images">
      <a href="https://apps.apple.com/tr/app/vida/id1591920156">
        <img src="../../../assets/uploads/appstore.png" alt="appstore" />
      </a>
      <a
        href="https://play.google.com/store/apps/details?id=com.bakimariza&gl=TR"
      >
        <img src="../../../assets/uploads/googleplay.png" alt="googleplay"
      /></a>
    </div>
  </div>

  <div id="phones">
    <img
      style="width: 80%; margin-left: 5rem"
      src="../../../assets/uploads/phones.webp"
      alt="phones"
    />
  </div>
</div>
<div class="part-4">
  <div class="macbook">
    <img
      src="../../../assets/uploads/vida-laptop-2-874x383.png"
      alt="vida-laptop"
    />
  </div>
  <div class="text">
    <h1>NEDEN VİDA'YI SEÇMELİYİZ ?</h1>
    <p>
      Vida’daki her eylem, gerçek zamanlı olarak uygulama üzerinden görülebilir.
    </p>
  </div>
</div>
<div class="py-5" id="part-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card-1" id="card">
        <img src="../../../assets/uploads/gercekzamanli-1.webp" alt="" />
        <h2>Gerçek Zamanlı</h2>
        <div class="card-body">
          <p>
            Vida’daki her eylem, gerçek zamanlı olarak uygulama üzerinden
            görülebilir.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card-2" id="card">
        <img src="../../../assets/uploads/heryerden-yonetim-1.webp" alt="" />
        <h2>Dilediğiniz Yerde</h2>
        <div class="card-body">
          <p>
            Vida Uygulaması’na web üzerinden, tablet ve mobil cihazlardan
            ulaşabilirsiniz.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card-3" id="card">
        <img src="../../../assets/uploads/akilli-yonetim-2.webp" alt="" />
        <h2>Akıllı Yönetim</h2>
        <div class="card-body">
          <p>
            Vida ile maliyet, envanter, enerji tüketimini ve üretimi de yönetmiş
            olursunuz.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card-4" id="card">
        <img src="../../../assets/uploads/aylikode-1.webp" alt="" />
        <h2>Aylık Ödeme</h2>
        <div class="card-body">
          <p>
            Vida Uygulaması’na bir anda büyük yatırımlar yerine aylık ödemeler
            ile sahip olabilirsiniz.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="formDiv" class="py-5 container">
  <div class="row">
    <div class="shadow-lg rounded card col-12 col-md-6 col-lg-6">
      <div>
        <h3 class="card-title text-center py-4">MALİYET HESAPLAMA ROBOTU</h3>
      </div>
      <form id="form">
        <div class="row mb-4">
          <div class="col-6 col-md-6 col-lg-6">
            <label class="form-label" for="typeNumber"
              >İşletmedeki Makina Sayısı (Adet)</label
            >
            <div class="form-outline" style="width: 100%">
              <input
                placeholder="5"
                type="number"
                id="typeNumber"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-6">
            <label class="form-label" for="typeNumber"
              >Günlük Çalışma Süresi(Saat)</label
            >
            <div class="form-outline" style="width: 100%">
              <input
                placeholder="12"
                type="number"
                id="typeNumber"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-12">
            <label class="form-label" for="typeNumber"
              >1 Makinenin Haftada Çalıştığı Gün Sayısı</label
            >
            <div class="form-outline" style="width: 100%">
              <input
                placeholder="5"
                type="number"
                id="typeNumber"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label"
              >1 Makine 1 Saatlik Üretilen Ürünün Ticari Değeri (TL)</label
            >
            <input placeholder="₺" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label"
              >1 Makine Parkurunun Toplam Cirosu (TL)</label
            >
            <input placeholder="₺" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">Operatör Maaş Maliyeti(TL)</label>
            <input placeholder="₺" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">Makine Başına Operatör Adedi</label>
            <input
              placeholder="4"
              type="text"
              class="form-control text-muted"
            />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">İşletmedeki Mola Süresi(Aylık)</label>
            <input placeholder="72" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">İşletmedeki Arıza Süresi(Saat)</label>
            <input placeholder="24" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label"
              >1 Makine Aylık Elektirik Gideri(TL)</label
            >
            <input placeholder="₺" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <button
              id="submitButton"
              type="button"
              class="btn btn-outline-primary"
            >
              Hesapla
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
      <img
        style="width: 70%; margin-left: 5rem"
        src="../../../assets/uploads/Vida-MMS-Maliyet-Hesaplama-450x549.png"
        alt="phone"
      />
    </div>
  </div>
</div>
