* {
  box-sizing: border-box;
}

.video-container {
  height: 50vh;
  position: relative;
  overflow: hidden;
  @media (min-width: 600px) {
    height: 100vh;
  }
}

video {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.video-container:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.firstH1 {
  color: rgb(228, 224, 224);
  font-weight: 900;
  font-size: 5vw;
  @media (max-width: 400px) {
    font-size: 22px;
  }
  @media (min-width: 980px) {
    font-size: 50px;
  }
}
.describe {
  text-align: center;
  color: rgb(198, 190, 190);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 10;
}
.part-2 {
  height: 25vh;
  img {
    width: 85%;
  }
  margin-top: 8em;
  text-align: center;
}

.content {
  width: 50%;
  float: left;
}
#vidaCard {
  clear: both;
  height: 50vh;
  transition: 0.3s;
}

#vidaCard p {
  font-size: 18px;
  @media (max-width: 980px) {
    font-size: 12px;
  }
}
#vidaCard:hover {
  color: white;
  background: linear-gradient(#1a49b0, #2c375c);
  background-color: #1a49b0;
  border-radius: 3%;
}

.images {
  img {
    width: 30%;
    margin-top: 1em;
    margin-right: 2em;
  }
  text-align: center;
}

#title {
  font-weight: bold;
  padding: 1em;
}
#phones {
  display: inline-block;
  margin-top: 4em;
  width: 40%;
}

.part-4 {
  text-align: center;
  width: 100%;
  margin-top: 12em;
  height: 100vh;
  background-color: #004fbe;
}
.macbook {
  img {
    width: 70%;
    margin-top: 7em;
  }
}

.text {
  margin: auto;
  margin-top: 1em;
  width: 70%;
  color: white;
  padding: 2em;
  p {
    color: rgb(228, 224, 224);
  }
}

#part-5 {
  width: 80%;
  height: 100%;

  img {
    background-color: #e3e3e3;
    padding: 1em;
    border-radius: 50%;
  }
  h2 {
    margin: 1em;
  }
  text-align: center;
  margin: auto;
  #card {
    padding: 1.3em;
    transition: 0.3s;
  }
  #card:hover {
    img {
      background-color: white;
    }
    border-radius: 3%;
    color: white;
    background: linear-gradient(#1a49b0, #2c375c);
  }
}
