<div class="part-1">
  <div class="home">
    <video muted loop id="home-video">
      <source
        src="assets/uploads/Vida-1240x800-Video-Slider-Compress.mp4"
        type="video/webm"
      />
    </video>
    <div class="home-content">
      <h1>{{ "HOME.HEADER" | translate }}</h1>
      <p>
        {{ "HOME.DESCRIBE" | translate }}
      </p>

      <button>
        <a [routerLink]="lang == 'tr' ? 'demo' : '/en/demo'">{{
          "HOME.BUTTON" | translate
        }}</a>
      </button>
    </div>
  </div>
</div>

<div class="part-2">
  <div class="title">
    <p class="fw-bolder fs-2" data-aos="fade-in" data-aos-duration="500">
      {{ "HOME.TITLE1" | translate }}
    </p>
  </div>
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img
          width="479"
          height="193"
          src="../../../assets/uploads/sliders/atlaslogo.webp"
          alt="Atlas Logo"
        />
      </div>
      <div class="slide">
        <img
          width="480"
          height="270"
          src="../../../assets/uploads/sliders/boneralogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="540"
          height="300"
          src="../../../assets/uploads/sliders/cabasanlogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="2013"
          height="807"
          src="../../../assets/uploads/sliders/doguslogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="452"
          height="111"
          src="../../../assets/uploads/sliders/gapinsaatlogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="1075"
          height="430"
          src="../../../assets/uploads/sliders/iskurlogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="800"
          height="468"
          src="../../../assets/uploads/sliders/malatya-logo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="600"
          height="391"
          src="../../../assets/uploads/sliders/malloflogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="800"
          height="600"
          src="../../../assets/uploads/sliders/rudolflogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="655"
          height="236"
          src="../../../assets/uploads/sliders/torun-gyologo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="1110"
          height="600"
          src="../../../assets/uploads/sliders/turklogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="2560"
          height="589"
          src="../../../assets/uploads/sliders/zorlulogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="479"
          height="193"
          src="../../../assets/uploads/sliders/atlaslogo.webp"
          alt="Atlas Logo"
        />
      </div>
      <div class="slide">
        <img
          width="480"
          height="270"
          src="../../../assets/uploads/sliders/boneralogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="540"
          height="300"
          src="../../../assets/uploads/sliders/cabasanlogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="2013"
          height="807"
          src="../../../assets/uploads/sliders/doguslogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="452"
          height="111"
          src="../../../assets/uploads/sliders/gapinsaatlogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="1075"
          height="430"
          src="../../../assets/uploads/sliders/iskurlogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="800"
          height="468"
          src="../../../assets/uploads/sliders/malatya-logo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="600"
          height="391"
          src="../../../assets/uploads/sliders/malloflogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="800"
          height="600"
          src="../../../assets/uploads/sliders/rudolflogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="655"
          height="236"
          src="../../../assets/uploads/sliders/torun-gyologo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="1110"
          height="600"
          src="../../../assets/uploads/sliders/turklogo.webp"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          width="2560"
          height="589"
          src="../../../assets/uploads/sliders/zorlulogo.webp"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6 align-self-center">
      <div id="vidaCard">
        <p class="card-title fs-2 fw-bolder pb-0 p-3" id="title">
          {{ "HOME.TITLE2" | translate }}
        </p>
        <p class="card-text p-3">
          {{ "HOME.DESCRIBE2" | translate }}
        </p>
      </div>
      <div class="images p-2">
        <img
          width="208"
          height="70"
          src="assets/uploads/googleplay.webp"
          alt="Google Play"
        />
        <img
          width="208"
          height="70"
          src="assets/uploads/appstore.webp"
          alt="AppStore Logo"
        />
      </div>
    </div>
    <div id="phones" class="col-12 col-md-12 col-lg-6 align-self-center text-center">
      <img
        width="1080"
        height="1080"
        src="assets/uploads/ads196177z-tasar196177m-3.webp"
        alt="Telefon"
      />
    </div>
  </div>
</div>

<div class="part-3">
  <div data-aos="zoom-in-down" data-aos-duration="1500" class="macbook">
    <img
      width="874"
      height="383"
      src="assets/uploads/vida-laptop-2-874x383.webp"
      alt="Vida Laptop"
    />
  </div>
  <div id="text">
    <p class="fs-1 fw-bolder">{{ "HOME.TITLE3" | translate }}</p>
    <p>
      {{ "HOME.DESCRIBE3" | translate }}
    </p>
  </div>
</div>

<div class="py-5" id="part-4">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3">
      <div id="card">
        <img
          width="70"
          height="70"
          src="../../../assets/uploads/gercekzamanli-1.webp"
          alt="Gerçek Zamanlı"
        />
        <p class="fw-bold mt-3" style="font-size: 1.3em">
          {{ "HOME.TITLE4" | translate }}
        </p>
        <div class="card-body">
          <p>
            {{ "HOME.DESCRIBE4" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div id="card">
        <img
          width="70"
          height="70"
          src="../../../assets/uploads/heryerden-yonetim-1.webp"
          alt="Her Yerden Yönetim"
        />
        <p class="fw-bold mt-3" style="font-size: 1.3em">
          {{ "HOME.TITLE5" | translate }}
        </p>
        <div class="card-body">
          <p>
            {{ "HOME.DESCRIBE5" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div id="card">
        <img
          width="70"
          height="70"
          src="assets/uploads/akilli-yonetim-2.webp"
          alt="Akıllı Yönetim"
        />
        <p class="fw-bold mt-3" style="font-size: 1.3em">
          {{ "HOME.TITLE6" | translate }}
        </p>
        <div class="card-body">
          <p>
            {{ "HOME.DESCRIBE6" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div id="card">
        <img
          width="70"
          height="70"
          src="assets/uploads/aylikode-1.webp"
          alt="Aylık Ödeme"
        />
        <p class="fw-bold mt-3" style="font-size: 1.3em">
          {{ "HOME.TITLE7" | translate }}
        </p>
        <div class="card-body">
          <p>
            {{ "HOME.DESCRIBE7" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="formDiv" style="padding: 4em; margin: auto">
  <div class="row">
    <div class="shadow-lg rounded card col-12 col-md-12 col-lg-6">
      <div>
        <p
          class="card-title text-center py-4 fw-bolder"
          style="font-size: 1.6em"
        >
          {{ "COST.HEADER" | translate }}
        </p>
      </div>
      <form id="form" [formGroup]="calcForm">
        <div [ngClass]="isShow ? 'd-none' : ''" class="row mb-4">
          <div class="col-6 col-md-6 col-lg-6" style="margin: auto">
            <label class="form-label" for="typeNumber">{{
              "COST.FORM1" | translate
            }}</label>
            <div class="form-outline" style="width: 100%">
              <input
                placeholder="5"
                type="number"
                id="typeNumber"
                class="form-control"
                formControlName="machineNumber"
                [ngClass]="{
                  'is-invalid error': submitted && f['machineNumber'].errors
                }"
              />
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-6">
            <label class="form-label" for="typeNumber">{{
              "COST.FORM2" | translate
            }}</label>
            <div class="form-outline" style="width: 100%">
              <input
                placeholder="12"
                type="number"
                id="typeNumber"
                class="form-control"
                formControlName="dailyHour"
                [ngClass]="{
                  'is-invalid error': submitted && f['dailyHour'].errors
                }"
              />
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-12">
            <label class="form-label" for="typeNumber">{{
              "COST.FORM3" | translate
            }}</label>
            <div class="form-outline" style="width: 100%">
              <input
                placeholder="5"
                type="number"
                id="typeNumber"
                class="form-control"
                formControlName="workingDayNumber"
                [ngClass]="{
                  'is-invalid error': submitted && f.workingDayNumber.errors
                }"
              />
            </div>
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">{{ "COST.FORM4" | translate }}</label>
            <input
              placeholder="₺"
              type="number"
              class="form-control"
              formControlName="hourlyCost"
              [ngClass]="{
                'is-invalid error': submitted && f.hourlyCost.errors
              }"
            />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">{{ "COST.FORM5" | translate }}</label>
            <input
              type="number"
              placeholder="₺"
              class="form-control"
              formControlName="totalMoney"
              [ngClass]="{
                'is-invalid error': submitted && f.totalMoney.errors
              }"
            />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">{{ "COST.FORM6" | translate }}</label>
            <input
              placeholder="₺"
              type="number"
              class="form-control"
              formControlName="employeeCost"
              [ngClass]="{
                'is-invalid error': submitted && f.employeeCost.errors
              }"
            />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">{{ "COST.FORM7" | translate }}</label>
            <input
              placeholder="4"
              type="number"
              class="form-control text-muted"
              formControlName="employeePiece"
              [ngClass]="{
                'is-invalid error': submitted && f.employeePiece.errors
              }"
            />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">{{ "COST.FORM8" | translate }}</label>
            <input
              placeholder="72"
              type="number"
              class="form-control"
              formControlName="breakTime"
              [ngClass]="{
                'is-invalid error': submitted && f.breakTime.errors
              }"
            />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">{{ "COST.FORM9" | translate }}</label>
            <input
              placeholder="24"
              type="number"
              class="form-control"
              formControlName="downTime"
              [ngClass]="{
                'is-invalid error': submitted && f.downTime.errors
              }"
            />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">{{ "COST.FORM10" | translate }}</label>
            <input
              placeholder="₺"
              type="number"
              class="form-control"
              formControlName="electricCost"
              [ngClass]="{
                'is-invalid error': submitted && f.electricCost.errors
              }"
            />
          </div>
          <div class="form-outline" style="width: 50%">
            <button
              id="submitButton"
              type="button"
              class="btn btn-outline-primary"
              (click)="calculate()"
            >
              {{ "COST.CALC" | translate }}
            </button>
          </div>
        </div>
        <div
          [ngClass]="isShow ? 'show' : 'd-none'"
          class="row col-12 mb-4 text-center"
          style="margin: auto"
        >
          <div class="col-6 fw-bolder">{{ "COST.FORM11" | translate }}</div>
          <div class="col-6 fw-bolder">{{ "COST.FORM12" | translate }}</div>
          <hr />
          <div class="col-6 p-2">{{ "COST.FORM13" | translate }}</div>
          <div class="col-6 p-2">{{ mounthlyCost | number }} TL</div>
          <div class="col-6 p-2">{{ "COST.FORM14" | translate }}</div>
          <div class="col-6 p-2">{{ mounthlyCostMoney | number }} TL</div>
          <div class="col-6 p-2">{{ "COST.FORM15" | translate }}</div>
          <div class="col-6 p-2">{{ mounthlyLabor | number }} TL</div>
          <div class="col-6 p-2">{{ "COST.FORM16" | translate }}</div>
          <div class="col-6 p-2">{{ electrictCostMoney | number }} TL</div>
          <div class="col-6 p-2">{{ "COST.FORM17" | translate }}</div>
          <div class="col-6 p-2">{{ total | number }} TL</div>
          <div class="col-6">
            <button
              class="btn btn-outline-primary text-end"
              (click)="backCalc()"
            >
              {{ "COST.BACKCALC" | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-12 col-md-12 col-lg-6">
      <img
        width="1080"
        height="1080"
        style="margin-left: 3em; margin-top: 5em; width: 100%; height: auto "
        src="assets/uploads/ads196177z-tasar196177m.webp"
        alt="phone"
      />
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3 col-md-6 col-12 mb-5" *ngFor="let data of blogs">
      <div id="card" class="card" style="height: 100%">
        <div class="card-body">
          <div class="row">
            <div (click)="goToDetailPage(data.slug)" class="col-12">
              <img [src]="data.baseImage" width="100%" height="100%" />
            </div>
            <div
              id="subTitle"
              class="col-12 text-center mt-3"
              style="height: 10vh"
            >
              <p class="fw-normal" style="color: #fff">
                {{ data.subTitle }}
              </p>
            </div>

            <div
              class="col-12 text-center mt-2 mb-4"
              style="height: 14vh; overflow: hidden"
            >
              <p class="fw-normal" style="font-size: 1.3em">
                {{ data.title }}
              </p>
            </div>
            <hr />
            <div
              id="description"
              class="col-12 p-2 mb-2"
              style="margin: auto; height: 20vh; overflow: hidden"
            >
              <p>{{ data.description }}</p>
            </div>
            <div class="col-12 text-center mb-3">
              <button class="button" [routerLink]="'/blog/' + data.slug">
                {{ "BLOG.MORE" | translate }}
              </button>
            </div>
            <hr />
            <div class="col-12 text-end" id="time">
              <p class="card-text">
                <small class="text-muted">{{ data.date }} </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
