<div class="part-1">
  <div class="home">
    <video muted loop id="home-video">
      <source
        src="assets/uploads/Vida-1240x800-Video-Slider-Compress.mp4"
        type="video/webm"
      />
      <source
        src="assets/uploads/Vida-1240x800-Video-Slider-Compress.mp4"
        type="video/mp4"
      />
    </video>
    <div class="home-content">
      <h1>Vida Bakım Yönetimi Uygulaması ile Arızalara Son</h1>
      <p>
        Makine parkurunuzun kesintisiz çalışmasını sağlamak için Vida
        Uygulamasını kullanın kurumunuzun bakım yönetimi kültürünü geliştirin.
      </p>

      <button>
        <a routerLink="demo"> Daha fazla bilgi ve DEMO için tıklayın </a>
      </button>
    </div>
  </div>
</div>
<div class="part-2">
  <div class="title">
    <h2 data-aos="fade-in" data-aos-duration="1000">REFERANSLARIMIZ</h2>
  </div>
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="../../../assets/uploads/sliders/atlaslogo.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/boneralogo.jpeg" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/cabasan.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/doguslogo.jpeg" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/gapinsaatlogo.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/iskurlogo.webp" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/malatya logo.jpeg" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/malloflogo.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/rudolflogo.jpeg" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/torun_gyologo.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/turklogo.jpeg" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/zorlulogo.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/atlaslogo.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/boneralogo.jpeg" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/cabasan.PNG" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/doguslogo.jpeg" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/gapinsaatlogo.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/iskurlogo.webp" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/malatya logo.jpeg" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/malloflogo.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/rudolflogo.jpeg" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/torun_gyologo.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/turklogo.jpeg" alt="" />
      </div>
      <div class="slide">
        <img src="../../../assets/uploads/sliders/zorlulogo.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="py-5 container">
  <div class="row" style="margin-top: 9em">
    <div class="col-12 col-md-23 col-lg-6">
      <div id="vidaCard">
        <h2 class="card-title" id="title">VİDA</h2>
        <p class="card-text m-4">
          Vida, Bakım Yönetimi uygulamasıdır. Endüstriyel işletme yönetimine
          yardımcı olur. Arıza ve bakım kayıtları, envanter, sayaç, zimmet ve
          fabrika yönetimine ilişkin kayıtları tutmanızı sağlar. Böylece makine
          ve ekipmanlarınızı zaman/maliyet konusunda daha uzun ömürlü
          kullanabilirsiniz. Webden, tabletten ve mobilden uygulamaya kolayca
          erişebilirsiniz.
        </p>
      </div>
      <div class="images p-2">
        <img src="../../../assets/uploads/googleplay.png" />
        <img src="../../../assets/uploads/appstore.png" />
      </div>
    </div>
    <div
      id="phones"
      data-aos="fade-left"
      data-aos-duration="1000"
      class="col-12 col-md-6 col-lg-6"
    >
      <img
        style="width: 70%; margin-left: 5rem"
        src="../../../assets/uploads/Adsız tasarım.png"
        alt="phone"
      />
    </div>
  </div>
</div>

<div class="part-4">
  <div data-aos="zoom-in-down" data-aos-duration="1500" class="macbook">
    <img
      src="../../../assets/uploads/vida-laptop-2-874x383.png"
      alt="vida-laptop"
    />
  </div>
  <div class="text" style="margin-left: 0">
    <h1>NEDEN VİDA'YI SEÇMELİYİZ ?</h1>
    <p>
      Vida’daki her eylem, gerçek zamanlı olarak uygulama üzerinden görülebilir.
    </p>
  </div>
</div>

<div class="py-5" id="part-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3">
      <div id="card">
        <img src="../../../assets/uploads/gercekzamanli-1.webp" alt="" />
        <h3>Gerçek Zamanlı</h3>
        <div class="card-body">
          <p>
            Vida’daki her eylem, gerçek zamanlı olarak uygulama üzerinden
            görülebilir.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div id="card">
        <img src="../../../assets/uploads/heryerden-yonetim-1.webp" alt="" />
        <h3>Dilediğiniz Yerde</h3>
        <div class="card-body">
          <p>
            Vida Uygulaması’na web üzerinden, tablet ve mobil cihazlardan
            ulaşabilirsiniz.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div id="card">
        <img src="../../../assets/uploads/akilli-yonetim-2.webp" alt="" />
        <h3>Akıllı Yönetim</h3>
        <div class="card-body">
          <p>
            Vida ile maliyet, envanter, enerji tüketimini ve üretimi de yönetmiş
            olursunuz.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div id="card">
        <img src="../../../assets/uploads/aylikode-1.webp" alt="" />
        <h3>Aylık Ödeme</h3>
        <div class="card-body">
          <p>
            Vida Uygulaması’na bir anda büyük yatırımlar yerine aylık ödemeler
            ile sahip olabilirsiniz.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="middle text-center" style="padding: 4em">
  <div class="row">
    <div class="col-3">
      <div class="text">
        <h1>1</h1>
        <span>Zimmetler</span>
        <p>
          Zimmet kayıtlarını tutarak personel üzerindeki eşya ve malzemelerin
          takibini sağlayabilirsiniz.
        </p>
      </div>
      <div class="text">
        <h1>2</h1>
        <span>Arızalar</span>
        <p>
          Saniyeler içerisinde bakım şefi veya ekibine arıza bildiriminde
          bulunabilirsiniz.
        </p>
      </div>
      <div class="text">
        <h1>3</h1>
        <span>Periyodik Bakım</span>
        <p>
          Otomatik olarak periyodik bakım takvimi oluşturabilir ve Vida
          üzerinden takip edebilirsiniz.
        </p>
      </div>
      <div class="text">
        <h1>4</h1>
        <span>Ömürlü Parçalar</span>
        <p>
          Mali değeri yüksek veya tedarik süresi uzun olan parçalarınızın
          ömrünü, verimini ve tedarik sürecini yönetebilirsiniz.
        </p>
      </div>
    </div>
    <div class="col-6">
      <img
        style="width: 50%"
        src="../../../assets/uploads/Adsız tasarım (2).png"
        alt=""
      />
    </div>
    <div class="col-3">
      <div class="text">
        <h1>5</h1>
        <span>Sayaçlar</span>
        <p>
          İşletmenizin içindeki elektrik, su gibi sayaçların takibini yaparak
          enerji tasarrufu sağlayabilirsiniz.
        </p>
      </div>
      <div class="text">
        <h1>6</h1>
        <span>Malzemeler</span>
        <p>
          Yedek parça ve malzemelerinizi kayıt altına alarak envanter takibi
          yapabilirsiniz.
        </p>
      </div>
      <div class="text">
        <h1>7</h1>
        <span>Makineler</span>
        <p>
          Makinalarınızın üretim durumunu, konumunu, arıza ve bakım bilgilerini
          kayıt altına alın ve takip edin.
        </p>
      </div>
      <div class="text">
        <h1>8</h1>
        <span>Kestirimci Bakım</span>
        <p>
          IOT sensörleri, korozyon ve vibrasyon ölçüm sonuçlarını
          değerlendirerek bakım takviminizi belirleyebilir ve olası arızalara
          karşı önlem alabilirsiniz.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container" id="formDiv" style="padding: 4em; margin: auto">
  <div class="row">
    <div class="shadow-lg rounded card col-12 col-md-12 col-lg-6">
      <div>
        <h3 class="card-title text-center py-4">MALİYET HESAPLAMA ROBOTU</h3>
      </div>
      <form id="form">
        <div class="row mb-4">
          <div class="col-6 col-md-6 col-lg-6">
            <label class="form-label" for="typeNumber"
              >İşletmedeki Makina Sayısı (Adet)</label
            >
            <div class="form-outline" style="width: 100%">
              <input
                placeholder="5"
                type="number"
                id="typeNumber"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-6">
            <label class="form-label" for="typeNumber"
              >Günlük Çalışma Süresi(Saat)</label
            >
            <div class="form-outline" style="width: 100%">
              <input
                placeholder="12"
                type="number"
                id="typeNumber"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-12">
            <label class="form-label" for="typeNumber"
              >1 Makinenin Haftada Çalıştığı Gün Sayısı</label
            >
            <div class="form-outline" style="width: 100%">
              <input
                placeholder="5"
                type="number"
                id="typeNumber"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label"
              >1 Makine 1 Saatlik Üretilen Ürünün Ticari Değeri (TL)</label
            >
            <input placeholder="₺" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label"
              >1 Makine Parkurunun Toplam Cirosu (TL)</label
            >
            <input placeholder="₺" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">Operatör Maaş Maliyeti(TL)</label>
            <input placeholder="₺" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">Makine Başına Operatör Adedi</label>
            <input
              placeholder="4"
              type="text"
              class="form-control text-muted"
            />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">İşletmedeki Mola Süresi(Aylık)</label>
            <input placeholder="72" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">İşletmedeki Arıza Süresi(Saat)</label>
            <input placeholder="24" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label"
              >1 Makine Aylık Elektirik Gideri(TL)</label
            >
            <input placeholder="₺" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <button
              id="submitButton"
              type="button"
              class="btn btn-outline-primary"
            >
              Hesapla
            </button>
          </div>
        </div>
      </form>
    </div>

    <div
      data-aos="zoom-in"
      data-aos-duration="1500"
      id="botPhoto"
      class="col-12 col-md-12 col-lg-6"
    >
      <img src="../../../assets/uploads/Adsız tasarım (3).png" alt="phone" />
    </div>
  </div>
</div>
