<div id="sub" style="background-color: #1a49b3" class="row text-center">
  <div style="font-size: 2em" class="fw-bolder">ÖZELLİKLER</div>
  <span>
    <a routerLink="/">Anasayfa</a>
    / Özellikler
  </span>
</div>
<div class="allPage">
  <div class="middle text-center" style="padding: 5em">
    <div class="row">
      <div class="col-3">
        <div class="text">
          <p class="subTitle">1</p>
          <span>Zimmetler</span>
          <p>
            Zimmet kayıtlarını tutarak personel üzerindeki eşya ve malzemelerin
            takibini sağlayabilirsiniz.
          </p>
        </div>
        <div class="text">
          <p class="subTitle">2</p>
          <span>Arızalar</span>
          <p>
            Saniyeler içerisinde bakım şefi veya ekibine arıza bildiriminde
            bulunabilirsiniz.
          </p>
        </div>
        <div class="text">
          <p class="subTitle">3</p>
          <span>Periyodik Bakım</span>
          <p>
            Otomatik olarak periyodik bakım takvimi oluşturabilir ve Vida
            üzerinden takip edebilirsiniz.
          </p>
        </div>
        <div class="text">
          <p class="subTitle">4</p>
          <span>Ömürlü Parçalar</span>
          <p>
            Mali değeri yüksek veya tedarik süresi uzun olan parçalarınızın
            ömrünü, verimini ve tedarik sürecini yönetebilirsiniz.
          </p>
        </div>
      </div>
      <div class="col-6">
        <img
          class="middleImage"
          style="width: 50%"
          src="../../../assets/uploads/Adsız tasarım (2).png"
          alt=""
        />
      </div>
      <div class="col-3">
        <div class="text">
          <p class="subTitle">5</p>
          <span>Sayaçlar</span>
          <p>
            İşletmenizin içindeki elektrik, su gibi sayaçların takibini yaparak
            enerji tasarrufu sağlayabilirsiniz.
          </p>
        </div>
        <div class="text">
          <p class="subTitle">6</p>
          <span>Malzemeler</span>
          <p>
            Yedek parça ve malzemelerinizi kayıt altına alarak envanter takibi
            yapabilirsiniz.
          </p>
        </div>
        <div class="text">
          <p class="subTitle">7</p>
          <span>Makineler</span>
          <p>
            Makinalarınızın üretim durumunu, konumunu, arıza ve bakım
            bilgilerini kayıt altına alın ve takip edin.
          </p>
        </div>
        <div class="text">
          <p class="subTitle">8</p>
          <span>Kestirimci Bakım</span>
          <p>
            IOT sensörleri, korozyon ve vibrasyon ölçüm sonuçlarını
            değerlendirerek bakım takviminizi belirleyebilir ve olası arızalara
            karşı önlem alabilirsiniz.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
