<div id="sub" style="background-color: #1a49b3" class="row text-center">
  <div style="font-size: 2em" class="fw-bolder">
    {{ "FEATURES.TITLE" | translate }}
  </div>
  <span>
    <a routerLink="/">{{ "FEATURES.BOTTITLE" | translate }}</a>
    {{ "FEATURES.BOTTITLE2" | translate }}
  </span>
</div>
<div class="allPage">
  <div class="middle text-center">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-12">
        <div class="text">
          <p class="subTitle">1</p>
          <span>{{ "FEATURES.SUBTITLE1" | translate }}</span>
          <p>
            {{ "FEATURES.DESCRIBE1" | translate }}
          </p>
        </div>
        <div class="text">
          <p class="subTitle">2</p>
          <span>{{ "FEATURES.SUBTITLE2" | translate }}</span>
          <p>
            {{ "FEATURES.DESCRIBE2" | translate }}
          </p>
        </div>
        <div class="text">
          <p class="subTitle">3</p>
          <span>{{ "FEATURES.SUBTITLE3" | translate }}</span>
          <p>
            {{ "FEATURES.DESCRIBE2" | translate }}
          </p>
        </div>
        <div class="text">
          <p class="subTitle">4</p>
          <span>{{ "FEATURES.SUBTITLE4" | translate }}</span>
          <p>
            {{ "FEATURES.DESCRIBE4" | translate }}
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <img
          class="middleImage"
          style="width: 50%"
          src="assets/uploads/ads196177z-tasar196177m-2.webp"
          alt="Özellikler Fotoğrafı"
        />
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="text">
          <p class="subTitle">5</p>
          <span>{{ "FEATURES.SUBTITLE5" | translate }}</span>
          <p>
            {{ "FEATURES.DESCRIBE5" | translate }}
          </p>
        </div>
        <div class="text">
          <p class="subTitle">6</p>
          <span>{{ "FEATURES.SUBTITLE6" | translate }}</span>
          <p>
            {{ "FEATURES.DESCRIBE6" | translate }}
          </p>
        </div>
        <div class="text">
          <p class="subTitle">7</p>
          <span>{{ "FEATURES.SUBTITLE7" | translate }}</span>
          <p>
            {{ "FEATURES.DESCRIBE7" | translate }}
          </p>
        </div>
        <div class="text">
          <p class="subTitle">8</p>
          <span>{{ "FEATURES.SUBTITLE8" | translate }}</span>
          <p>
            {{ "FEATURES.DESCRIBE8" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
