<div class="allPage">
  <div class="middle text-center" style="padding: 5em">
    <div class="row">
      <div class="col-3">
        <div data-aos="fade-right" data-aos-duration="1000" class="text">
          <h1>1</h1>
          <span>Zimmetler</span>
          <p>
            Zimmet kayıtlarını tutarak personel üzerindeki eşya ve malzemelerin
            takibini sağlayabilirsiniz.
          </p>
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" class="text">
          <h1>2</h1>
          <span>Arızalar</span>
          <p>
            Saniyeler içerisinde bakım şefi veya ekibine arıza bildiriminde
            bulunabilirsiniz.
          </p>
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" class="text">
          <h1>3</h1>
          <span>Periyodik Bakım</span>
          <p>
            Otomatik olarak periyodik bakım takvimi oluşturabilir ve Vida
            üzerinden takip edebilirsiniz.
          </p>
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" class="text">
          <h1>4</h1>
          <span>Ömürlü Parçalar</span>
          <p>
            Mali değeri yüksek veya tedarik süresi uzun olan parçalarınızın
            ömrünü, verimini ve tedarik sürecini yönetebilirsiniz.
          </p>
        </div>
      </div>
      <div class="col-6">
        <img
          class="middleImage"
          style="width: 50%"
          src="../../../assets/uploads/Adsız tasarım (2).png"
          alt=""
        />
      </div>
      <div data-aos="fade-left" data-aos-duration="1000" class="col-3">
        <div class="text">
          <h1>5</h1>
          <span>Sayaçlar</span>
          <p>
            İşletmenizin içindeki elektrik, su gibi sayaçların takibini yaparak
            enerji tasarrufu sağlayabilirsiniz.
          </p>
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class="text">
          <h1>6</h1>
          <span>Malzemeler</span>
          <p>
            Yedek parça ve malzemelerinizi kayıt altına alarak envanter takibi
            yapabilirsiniz.
          </p>
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class="text">
          <h1>7</h1>
          <span>Makineler</span>
          <p>
            Makinalarınızın üretim durumunu, konumunu, arıza ve bakım
            bilgilerini kayıt altına alın ve takip edin.
          </p>
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class="text">
          <h1>8</h1>
          <span>Kestirimci Bakım</span>
          <p>
            IOT sensörleri, korozyon ve vibrasyon ölçüm sonuçlarını
            değerlendirerek bakım takviminizi belirleyebilir ve olası arızalara
            karşı önlem alabilirsiniz.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
