<div style="padding-right: 0.8em">
  <div class="row" style="background-color: #f9f9f9">
    <div
      data-aos="zoom-in"
      data-aos-duration="1000"
      id="contactForm"
      class="col-12 col-md-12 col-lg-6"
    >
      <div class="col-12">
        <div>
          <p class="card-title text-center py-4 fs-3">
            {{ "DEMO.HEADER" | translate }}
          </p>
          <hr />
          <p>
            {{ "DEMO.DESCRIBE" | translate }}
          </p>
          <hr />
        </div>
        <form id="form">
          <div class="row">
            <div class="col-6 col-md-6 col-lg-6">
              <label class="form-label"> {{ "DEMO.NAME" | translate }}</label>
              <div class="form-outline" style="width: 100%">
                <input type="text" class="form-control" />
              </div>
            </div>

            <div class="col-6 col-md-6 col-lg-6">
              <label class="form-label">
                {{ "DEMO.SURNAME" | translate }}</label
              >
              <div class="form-outline" style="width: 100%">
                <input type="text" class="form-control" />
              </div>
            </div>

            <div class="col-12 col-md-12 col-lg-12">
              <label class="form-label"> {{ "DEMO.EMAIL" | translate }}</label>
              <div class="form-outline" style="width: 100%">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-6">
              <label class="form-label"> {{ "DEMO.PHONE" | translate }}</label>
              <div class="form-outline" style="width: 100%">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-6">
              <label class="form-label">
                {{ "DEMO.COMPANY" | translate }}</label
              >
              <div class="form-outline" style="width: 100%">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
              <select
                class="form-select mt-4"
                aria-label="Default select example"
              >
                <option selected>{{ "DEMO.COMPANYAREA" | translate }}</option>
                <option value="1">{{ "DEMO.DEP1" | translate }}</option>
                <option value="2">{{ "DEMO.DEP2" | translate }}</option>
                <option value="3">{{ "DEMO.DEP3" | translate }}</option>
                <option value="4">{{ "DEMO.DEP4" | translate }}</option>

                <option value="5">{{ "DEMO.DEP5" | translate }}</option>

                <option value="6">
                  {{ "DEMO.DEP6" | translate }}
                </option>

                <option value="7">{{ "DEMO.DEP7" | translate }}</option>

                <option value="8">{{ "DEMO.DEP8" | translate }}</option>

                <option value="9">{{ "DEMO.DEP9" | translate }}</option>
                <option value="10">{{ "DEMO.DEP10" | translate }}</option>
              </select>
            </div>
            <div class="form-outline mt-4 mb-2" style="width: 50%">
              <button type="button" class="btn btn-primary">
                {{ "DEMO.SEND" | translate }}
              </button>
            </div>
          </div>
          <div>
            {{ "DEMO.DESCRIBE2" | translate }}
            <a [routerLink]="lang == 'tr' ? 'politika' : 'en/policy'">
              {{ "DEMO.LINK" | translate }}</a
            >
            {{ "DEMO.DESCRIBE3" | translate }}
          </div>
        </form>
      </div>
    </div>
    <div class="contact col-12 col-md-12 col-lg-6 mb-5">
      <iframe
        style="margin-top: 3em"
        width="100%"
        height="500"
        src="https://www.youtube.com/embed/755dN3AKQSQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<div id="middle" class="text-center">
  <p class="text-muted fs-3">VİDA MMS</p>
  <hr />
  <p class="text-muted">
    {{ "DEMO.DESCRIBE4" | translate }}
  </p>
</div>
<div style="background-color: #f9f9f9; margin: auto; padding: 3em">
  <div class="row" style="margin: auto">
    <div class="col-lg-6 col-md-12 col-12">
      <div class="text-center">
        <p class="fs-2 fw-normal">{{ "DEMO.TITLE" | translate }}</p>
        <p>
          {{ "DEMO.DESCRIBE5" | translate }}
        </p>
      </div>
      <div
        class="card col-lg-12 col-md-12 col-12"
        (click)="changeActive('demo1')"
        [ngClass]="activeCategories == 'demo1' ? 'active' : ''"
      >
        <div class="row">
          <div class="col-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="60"
              height="60"
              fill="currentColor"
              class="bi bi-clock"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
              />
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
              />
            </svg>
          </div>

          <div class="col-9">
            <p class="fs-4">{{ "DEMO.TITLE2" | translate }}</p>
            <p>
              {{ "DEMO.DESCRIBE6" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="card col-12"
        (click)="changeActive('demo2')"
        [ngClass]="activeCategories == 'demo2' ? 'active' : ''"
      >
        <div class="row">
          <div class="icon col-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="60"
              height="60"
              fill="currentColor"
              class="bi bi-map"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"
              />
            </svg>
          </div>
          <div class="col-9">
            <p class="fs-4">{{ "DEMO.TITLE3" | translate }}</p>
            <p>
              {{ "DEMO.DESCRIBE7" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="card col-12"
        (click)="changeActive('demo3')"
        [ngClass]="activeCategories == 'demo3' ? 'active' : ''"
      >
        <div class="row">
          <div class="icon col-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="60"
              height="60"
              fill="currentColor"
              class="bi bi-universal-access"
              viewBox="0 0 16 16"
            >
              <path
                d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM6 5.5l-4.535-.442A.531.531 0 0 1 1.531 4H14.47a.531.531 0 0 1 .066 1.058L10 5.5V9l.452 6.42a.535.535 0 0 1-1.053.174L8.243 9.97c-.064-.252-.422-.252-.486 0l-1.156 5.624a.535.535 0 0 1-1.053-.174L6 9V5.5Z"
              />
            </svg>
          </div>
          <div class="col-9">
            <p class="fs-4">{{ "DEMO.TITLE4" | translate }}</p>
            <p>
              {{ "DEMO.DESCRIBE8" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="image" class="col-lg-6 col-md-12 col-12">
      <img
        *ngIf="activeCategories == 'demo1'"
        width="100%"
        height="75%"
        class="demo1"
        src="../../../assets/uploads/demo3.webp"
        alt="Demo Fotoğrafı"
      />
      <img
        *ngIf="activeCategories == 'demo2'"
        width="100%"
        height="75%"
        class="demo2"
        src="../../../assets/uploads/demo1.webp"
        alt="Demo Fotoğrafı"
      />
      <img
        *ngIf="activeCategories == 'demo3'"
        width="100%"
        height="75%"
        class="demo3"
        src="../../../assets/uploads/demo2.webp"
        alt="Demo Fotoğrafı"
      />
    </div>
  </div>
</div>
<div class="text-center" style="padding: 4em">
  <div>
    <img
      width="60%"
      height="60%"
      src="../../../assets/uploads/demolaptop.webp"
      alt="Demo Laptop"
    />
  </div>
  <div class="laptop">
    <p class="text-muted fs-2">
      {{ "DEMO.SUBTITLE" | translate }}
    </p>
    <hr />

    <p class="text-muted">
      {{ "DEMO.BOTTITLE" | translate }}
    </p>
  </div>
</div>
<div class="footer-text text-center">
  <p class="fs-4">
    {{ "DEMO.SUBTITLE2" | translate }}
  </p>
  <p class="text-muted fs-4">
    {{ "DEMO.BOTTITLE2" | translate }}
  </p>
</div>
