<div class="container py-5">
  <div class="row">
    <div class="col-12 py-5">
      <img src="{{ blog.baseImage }}" style="width: 80%; margin-left: 10%" />
    </div>

    <div class="col-12 text-center">
      <h1>{{ blog?.title }}</h1>
    </div>

    <div class="col-12 py-5">
      <p
        class="{{ data.class }}"
        style="{{ data.style }}"
        *ngFor="let data of blog?.descriptions"
      >
        {{ data?.text }}
      </p>
    </div>
  </div>
</div>
<div class="describe m-4">
  <a routerLink="/blog"
    ><p class="fs-6 fw-bolder">
      DİĞER YAZILAR İÇİN
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-arrow-down-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"
        />
      </svg>
    </p>
  </a>
</div>
<div class="slider">
  <div class="slide-track">
    <div routerLink="/blog" class="slide">
      <img src="assets/uploads/blogPhotos/CMMS.webp" alt="" />
    </div>
    <div routerLink="/blog" class="slide">
      <img src="assets/uploads/blogPhotos/Alt-yapi-bakimi.webp" alt="" />
    </div>
    <div routerLink="/blog" class="slide">
      <img src="assets/uploads/blogPhotos/durum-bazli-bakm.webp" alt="" />
    </div>
    <div routerLink="/blog" class="slide">
      <img src="assets/uploads/blogPhotos/periyodik-bakim.webp" alt="" />
    </div>
    <div routerLink="/blog" class="slide">
      <img
        src="assets/uploads/blogPhotos/uretimde-iot-yeni-trendler.webp"
        alt=""
      />
    </div>
    <div routerLink="/blog" class="slide">
      <img
        src="assets/uploads/blogPhotos/Toplam-Verimli-Bakim-1917x2048.webp"
        alt=""
      />
    </div>
    <div routerLink="/blog" class="slide">
      <img
        src="assets/uploads/blogPhotos/Hata-Turleri-Ve-Etkileri-Analizi-4-1917x2048.webp"
        alt=""
      />
    </div>
    <div routerLink="/blog" class="slide">
      <img
        src="assets/uploads/blogPhotos/Guvenirlik-Merkezli-Bakim-Yaklasimi-1917x2048.webp"
        alt=""
      />
    </div>
    <div routerLink="/blog" class="slide">
      <img
        src="assets/uploads/blogPhotos/Vida-Blog-Teknolojinin-Bakim-Yonetime-Etkisi-1-959x1024.webp"
        alt=""
      />
    </div>
    <div routerLink="/blog" class="slide">
      <img
        src="assets/uploads/blogPhotos/Vida-Blog-Planli-Bakimlarda-Uretim-Verimi-Arttirma-1917x2048.webp"
        alt=""
      />
    </div>
    <div routerLink="/blog" class="slide">
      <img
        src="assets/uploads/blogPhotos/Vida-Blog-Kapak-Periyodik-Bakimlarin-Onemi-1917x2048.webp"
        alt=""
      />
    </div>
    <div routerLink="/blog" class="slide">
      <img
        src="assets/uploads/blogPhotos/Vida-Makine-Ideal-Bakim-Periyotlari-1917x2048.webp"
        alt=""
      />
    </div>
    <div routerLink="/blog" class="slide">
      <img
        src="assets/uploads/blogPhotos/Vida-Blog-Kapak-Resmi-Bakim-Yonetim-Yazilimi-1917x2048.webp"
        alt=""
      />
    </div>
    <div routerLink="/blog" class="slide">
      <img
        src="assets/uploads/blogPhotos/Vida-Blog-Kapak-Kestirici-Bakim-1917x2048.webp"
        alt=""
      />
    </div>
    <div routerLink="/blog" class="slide">
      <img
        src="assets/uploads/blogPhotos/Vida-Blog-Kapak-Resmi-Ariza-Yonetimi.webp"
        alt=""
      />
    </div>
  </div>
</div>
