* {
  text-decoration: none;
}
#images img {
  width: 100%;
  height: 100px;
}

.slider {
  height: 100%;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.slide-track {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.slide-track:hover {
  animation-play-state: paused;
}
.slide {
  cursor: pointer;
  height: 400px;
  width: 400px;

  padding: 15px;
}
.slide:hover {
  width: 420px;
}
h1 {
  background: linear-gradient(#09318e, white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
