<div id="formDiv" class="py-5 container">
  <div class="row">
    <div class="shadow-lg rounded card col-12 col-md-12 col-lg-6">
      <div>
        <h3 class="card-title text-center py-4">MALİYET HESAPLAMA ROBOTU</h3>
      </div>
      <form id="form">
        <div class="row mb-4">
          <div class="col-6 col-md-6 col-lg-6" style="margin: auto">
            <label class="form-label" for="typeNumber"
              >İşletmedeki Makina Sayısı (Adet)</label
            >
            <div class="form-outline" style="width: 100%">
              <input
                placeholder="5"
                type="number"
                id="typeNumber"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-6">
            <label class="form-label" for="typeNumber"
              >Günlük Çalışma Süresi(Saat)</label
            >
            <div class="form-outline" style="width: 100%">
              <input
                placeholder="12"
                type="number"
                id="typeNumber"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-12">
            <label class="form-label" for="typeNumber"
              >1 Makinenin Haftada Çalıştığı Gün Sayısı</label
            >
            <div class="form-outline" style="width: 100%">
              <input
                placeholder="5"
                type="number"
                id="typeNumber"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label"
              >1 Makine 1 Saatlik Üretilen Ürünün Ticari Değeri (TL)</label
            >
            <input placeholder="₺" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label"
              >1 Makine Parkurunun Toplam Cirosu (TL)</label
            >
            <input placeholder="₺" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">Operatör Maaş Maliyeti(TL)</label>
            <input placeholder="₺" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">Makine Başına Operatör Adedi</label>
            <input
              placeholder="4"
              type="text"
              class="form-control text-muted"
            />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">İşletmedeki Mola Süresi(Aylık)</label>
            <input placeholder="72" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label">İşletmedeki Arıza Süresi(Saat)</label>
            <input placeholder="24" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <label class="form-label"
              >1 Makine Aylık Elektirik Gideri(TL)</label
            >
            <input placeholder="₺" type="text" class="form-control" />
          </div>
          <div class="form-outline" style="width: 50%">
            <button
              id="submitButton"
              type="button"
              class="btn btn-outline-primary"
            >
              Hesapla
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-12 col-md-12 col-lg-6">
      <img
        style="width: 70%; margin-left: 4rem; margin-top: 5em"
        src="../../../assets/uploads/Adsız tasarım (3).png"
        alt="phone"
      />
    </div>
  </div>
</div>
