* {
  text-decoration: none;
}
.box {
  img {
    padding: 1em;
    aspect-ratio: 1/1;
    width: 100%;
  }
  height: 55%;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 3px;
  border-radius: 10px;
}
.box:hover {
  border-color: #004fbc;
}
.header p {
  margin-top: 2em;
  font-size: 2em;
  font-weight: bolder;
}
img {
  height: 100%;
}
.card {
  border-width: 2px;

  background: linear-gradient(#004fbc, #212529);
}

.card:hover {
  border-color: white;
}
svg {
  color: white;
}
#references {
  span {
    color: white;
    width: 100%;
    font-weight: bold;
    padding: 1em;
  }
}
@media (max-width: 980px) {
  #references span {
    font-size: 12px;
  }
  #references svg {
    height: 50px;
  }
}

#sub {
  margin: auto;
  padding: 2em;
  color: white;
  margin-top: 5.5em;
  a {
    color: white;
    text-decoration: none;
  }
  span {
    font-weight: lighter;
    color: white;
  }
}
