* {
  text-decoration: none;
}
.box {
  height: 55%;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 3px;
  border-radius: 10px;
}
.box:hover {
  border-color: #004fbc;
}
.header h1 {
  font-weight: bolder;
}
img {
  height: 100%;
}
.card {
  border-width: 2px;

  background: linear-gradient(#004fbc, #212529);
}

.card:hover {
  border-color: white;
}
svg {
  color: white;
}
span {
  color: white;
  width: 100%;
  font-weight: bold;
  margin-top: 1em;
}
