.navbar {
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: #004fbc !important;
}
svg {
  cursor: pointer;
  color: white;
}
.nav-link {
  color: white;
}

button {
  border: none;
}

ul li {
  padding: 0.4em;
  border-radius: 10%;
  margin-right: 0.4em;
}
ul li:hover {
  font-weight: bolder;
}

.active {
  color: white !important;
  font-weight: bolder;
}
