<nav class="navbar navbar-expand-lg bg-body-tertiary" [ngClass]="setClass()">
  <div id="sub" class="container-fluid mr-3">
    <img
      *ngIf="currentPage == ''"
      class="p-3"
      [src]="
        isScrolled
          ? 'assets/uploads/vida-logo2.png'
          : 'assets/uploads/vida-for-service.png'
      "
      alt="vida-logo"
    />
    <img
      *ngIf="currentPage !== ''"
      class="p-3"
      [src]="'assets/uploads/vida-logo2.png'"
      alt="vida-logo"
    />

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg
        *ngIf="currentPage == ''"
        [ngClass]="isScrolled ? 'navbarSVG' : ''"
        class="navbarSVG"
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-menu-button-wide"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-13z"
        />
        <path
          d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"
        />
      </svg>
      <svg
        *ngIf="currentPage != ''"
        [ngClass]="'notSvg'"
        class="navbarSVG"
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-menu-button-wide"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-13z"
        />
        <path
          d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end text-center menuList"
      id="navbarSupportedContent"
    >
      <ul id="list" class="navbar-nav mb-2">
        <li
          class="nav-item"
          [ngClass]="isScrolled ? 'isScrolled-nav-item' : ''"
        >
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ "MENU.HOMEPAGE" | translate }}</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="isScrolled ? 'isScrolled-nav-item' : ''"
        >
          <a
            class="nav-link"
            routerLink="about"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ "MENU.ABOUTUS" | translate }}</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="isScrolled ? 'isScrolled-nav-item' : ''"
        >
          <a
            class="nav-link"
            routerLink="features"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Özellikler</a
          >
        </li>

        <li
          class="nav-item"
          [ngClass]="isScrolled ? 'isScrolled-nav-item' : ''"
        >
          <a
            class="nav-link"
            routerLink="cost"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Maliyet Hesaplama</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="isScrolled ? 'isScrolled-nav-item' : ''"
        >
          <a
            class="nav-link"
            routerLink="support"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Destek</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="isScrolled ? 'isScrolled-nav-item' : ''"
        >
          <a
            class="nav-link"
            routerLink="reference"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Referanslar</a
          >
        </li>

        <li
          class="nav-item"
          [ngClass]="isScrolled ? 'isScrolled-nav-item' : ''"
        >
          <a
            class="nav-link"
            routerLink="contact"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >İletişim</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="isScrolled ? 'isScrolled-nav-item' : ''"
        >
          <a
            class="nav-link"
            routerLink="blog"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Blog</a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="isScrolled ? 'isScrolled-nav-item' : ''"
        >
          <a
            class="nav-link"
            routerLink="services"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Hizmetler ve Detay</a
          >
        </li>
        <li class="translate" style="margin: auto">
          <button *ngIf="!isActive" (click)="changeLanguage('tr')">EN</button>
          <button *ngIf="isActive" (click)="changeLanguage('en')">TR</button>
        </li>
      </ul>
      <!-- <div class="trans" style="margin-bottom: 0.8em; margin-right: 1em">
        <button (click)="changeLanguage('tr')">TR</button>
        <button (click)="changeLanguage('en')">EN</button>
      </div> -->
    </div>
  </div>
</nav>
