.navbar {
  background-color: #004fbe !important;
}
svg {
  cursor: pointer;
  color: white;
}

.nav-link {
  color: white;
}
.menuList {
  margin-right: 3em;
}
button {
  border: none;
}

ul li :hover {
  text-shadow: 0.8px 0.8px;
}
