.navbar {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  background: transparent !important;
  transition: 0.3s;
}
@media (max-width: 980px) {
  .navbar {
    background-color: #ffff !important;
  }
  .nav-link {
    color: #212529 !important;
  }
  .active {
    color: #1a49b3 !important;
  }
}
@media (min-width: 980px) {
  .active {
    color: #ffff !important;
  }
}

.bg-color {
  a {
    color: #212529 !important;
  }
  li button {
    color: #212529 !important;
  }

  .trans button {
    color: #212529 !important;
  }
  .active {
    color: #1a49b3 !important;
  }
}

.isScrolled {
  background-color: white !important;
  li button {
    color: #212529 !important;
  }
  .trans button {
    color: #212529 !important;
  }
  opacity: 1;
  border-bottom: 2px solid #e3e3e380 !important;
}
.navbarSVG {
  color: #1a49b3;
}

.notSvg {
  color: #1a49b3;
}

.isScrolled-nav-item {
  a {
    color: #212529 !important;
  }
  .active {
    color: #1a49b3 !important;
  }
}

svg {
  cursor: pointer;
  color: white;
}
.nav-link {
  color: white;
  font-size: 14px;
}

button {
  border: none;
}

ul li {
  padding: 0.4em;
  border-radius: 10%;
  margin-right: 0.4em;
}
ul li:hover {
  font-weight: bolder;
}

.active {
  color: white;
  font-weight: bolder;
}
#sub img {
  width: 15% !important;
}
@media (max-width: 980px) {
  #sub img {
    width: 30% !important;
  }
}

.trans button {
  background-color: transparent !important;
  color: white;
}

.trans button:hover {
  font-weight: bold;
}

@media (max-width: 981px) {
  .trans button {
    background-color: transparent !important;
    color: black !important;
  }
}
