img {
  width: 100%;
  height: auto;
}
#card {
  height: 100%;
  transition: 0.3s;
}
#categories .card {
  cursor: pointer;
}
.card {
  svg {
    color: #004fbc;
  }
  height: 100%;
  box-shadow: 2px 2px rgb(232, 232, 232);
}

#card:hover {
  background: linear-gradient(#004fbc, white);
}
.button {
  margin-bottom: 0;
  border: 0;

  border-radius: 4%;
  color: white;
  background: linear-gradient(#004fbc, #306ec5);
}
.button:hover {
  background: linear-gradient(#004fbc, #212529);
}
#subTitle p {
  font-weight: bold;
  background: linear-gradient(#004fbc, #306ec5);
}
@media (max-width: 1200px) {
  #subTitle {
    height: 14vh !important;
  }
}
@media (max-width: 1200px) {
  #description {
    height: 30vh !important;
  }
}
svg {
  justify-content: center;
}

#categories .card:hover {
  svg {
    color: white;
  }
  color: white;
  background: linear-gradient(#1a49b0, #2c375c);
}

img {
  cursor: pointer;
}
#time {
  height: 10px;
}
#time {
  p {
    font-size: 14px;
  }
}
.random {
  background-color: red;
}

.active {
  color: white;
  background: linear-gradient(#1a49b0, #2c375c);
  svg {
    color: white;
  }
}

#sub {
  margin: auto;
  padding: 2em;
  color: white;
  margin-top: 5.5em;
  a {
    color: white !important;
    text-decoration: none;
  }
  span {
    font-weight: lighter;
    color: white !important;
  }
}
